body{
    background-color: lightgray;
    font-family: Arial;
}

.container{
    width: 300px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
}

input{
    width: 90%;
    padding: 8px;
}

button{
    padding: 8px 20px;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    margin: 10px 0;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}